<app-menu-title></app-menu-title>
<div class="container_cards">
    <div class="big_card">
        <app-big-card
        id="1"
        photo="https://www.moneytimes.com.br/uploads/2023/09/bitcoin-se-recupera-mas-mercado-ainda-esta-apreensivo.jpg"
        title="Bitcoin (BTC) recupera patamar de US$ 80 mil, mas segue em queda e pressionando mercado de criptomoedas"
        description="O bitcoin (BTC) registrou uma recuperação do patamar psicológico de US$ 80 mil, sendo negociado acima de US$ 81 mil nesta terça-feira (11)."
        ></app-big-card>
    </div>
    <div class="smalls_cards">
        <app-small-card
        id="2"
        photo="https://pub-aad5aee0e7644183b75c927686087237.r2.dev/2025/02/Majorana-1-001-Hero-1-1900x695.jpg"
        title="Chip Majorana 1 da Microsoft abre um novo caminho para a computação quântica"
        ></app-small-card>
        <app-small-card
        id="3"
        photo="https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/29fa/live/8d521bb0-fb62-11ef-896e-d7e7fb1719a4.png.webp"
        title="Como hackers da Coreia do Norte cometeram maior roubo de criptomoedas da história"
        ></app-small-card>
        <app-small-card
        id="4"
        photo="https://www.jrebel.com/sites/default/files/styles/social_preview_image/public/image/2025-01/rbl-blog-what-is-java-24-600x400.jpg.jpeg?itok=O6ONy44g"
        title="Java 24 - Melhor linguagem, Melhores Apis, Mais velocidade"
        ></app-small-card>
    </div>
</div>
